<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <!-- <h3 class="welcome">Welcome to</h3> -->
      LogIn
      <h5 class="hint">Enter your details to continuer</h5>
    </section>
    <div class="login-group">
      <input
        class="username"
        type="text"
        id="login_username"
        name="email"
        placeholder="Email"
        [(ngModel)]="loginUserData.email"
      >
      <input
        class="password"
        type="password"
        id="login_password"
        placeholder="Password"
        name="password"
        [(ngModel)]="loginUserData.password"
      >

      <div class="error active" [class.active]="authError">
        Invalid email or password
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        (click)="loginUser()"
        [clrLoading]="sendBtnState"
        [disabled]="!loginUserData.email || !loginUserData.password">
        Sign In
      </button>

      <a [routerLink]="['/register']" class="signup">Go to register</a>
    </div>
  </form>
</div>