<div class="login-wrapper">
  <form class="login">
    <section class="title">
      Register
      <h5 class="hint">Enter your details to continue</h5>
    </section>

    <div class="login-group">
      <!-- Email -->
      <label
        class="tooltip tooltip-validation invalid tooltip-md"
        [class.invalid]="refEmail.invalid && (refEmail.dirty || refEmail.touched)"
        aria-haspopup="true"
        role="tooltip"
        for="email"
      >
        <input
          #refEmail="ngModel"
          id="email"
          class="username"
          type="text"
          name="email"
          [(ngModel)]="registerUserData.email"
          placeholder="Email"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        >
        <span class="tooltip-content">
          <span *ngIf="refEmail.errors && refEmail.errors.required">Email is required!</span>
          <span *ngIf="refEmail.errors && refEmail.errors.pattern">Incorrect symbols are used!</span>
        </span>
      </label>

      <!-- Password -->
      <label
        for="password"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation invalid tooltip-md"
        [class.invalid]="refPassword.invalid && (refPassword.dirty || refPassword.touched)"
      >
        <input
          #refPassword="ngModel"
          id="password"
          class="password"
          type="password"
          name="password"
          [(ngModel)]="registerUserData.password"
          placeholder="Password"
          minlength="4"
          required
          (change)="refConfirm.control.updateValueAndValidity()"
        >
        <span class="tooltip-content">
          <span *ngIf="refPassword.errors && refPassword.errors.required">Password is required!</span>
          <span *ngIf="refPassword.errors && refPassword.errors.minlength">At least 4 characters!</span>
        </span>
      </label>

      <!-- Re-Password -->
      <label
        for="confirm"
        aria-haspopup="true"
        role="tooltip"
        class="tooltip tooltip-validation invalid tooltip-md"
        [class.invalid]="refConfirm.invalid && (refConfirm.dirty || refConfirm.touched)"
      >
        <input
          #refConfirm="ngModel"
          id="confirm"
          class="password"
          type="password"
          name="confirm"
          [(ngModel)]="registerUserData.repeatPassword"
          placeholder="Repeat password"
          appConfirmEqualValidator="password"
          required>
        <span class="tooltip-content">
          <span *ngIf="refConfirm.errors && refConfirm.errors.required">Re-Password is required!</span>
          <span *ngIf="refConfirm.errors && refConfirm.errors.notEqual">Passwords no match!</span>
        </span>
      </label>

      <div class="error active" [class.active]="registerError">
        Oops, something went wrong. Try later!
      </div>

      <button
        class="btn btn-primary"
        (click)="registerUser()"
        [clrLoading]="sendBtnState"
        [disabled]="refEmail.invalid || refPassword.invalid || refConfirm.invalid"
      >
        Next
      </button>

      <a [routerLink]="['/sign-in']" class="signup">Go to sign in</a>
    </div>
  </form>
</div>