<div class="main-container">
  <header class="header header-2">
    <!-- logo -->
    <div class="branding">
      <a href="" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project</span>
      </a>
    </div>
    <!-- nav -->
    <div class="header-nav">
      <a class="nav-link nav-text" routerLink="/events" routerLinkActive="active">Public page</a>
      <a class="nav-link nav-text" routerLink="/special" routerLinkActive="active">Private page</a>
    </div>
    <!-- action -->
    <div class="header-actions">
      <a class="nav-link nav-text" routerLink="/login" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Login</a>
      <a class="nav-link nav-text" routerLink="/register" *ngIf="!_auth.loggedIn()" routerLinkActive="active">Register</a>
      <a class="nav-link nav-text nav-text-logout" *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">LogOut</a>
    </div>
  </header>

  <router-outlet></router-outlet>
</div>